/*==================================================
=                    DRAWER                        =
==================================================*/

/* Cache les checkbox */
.custom-html-style :is(h2, h3) > input[type="checkbox"]:first-child {
    display: none;
}

/* Bouton */
.custom-html-style :is(h2, h3) > input[type="checkbox"]:first-child + label {
    display: block;
    cursor: pointer;
    transition: .2s;
}

/*==================================================
=                   CATEGORY                       =
==================================================*/

.custom-html-style h2 > input + label{
    display:block;

    padding:10px;

    font-size:1.4em;
    font-weight:600;

    color:var(--zz-fg);

    transition:.2s;
}

.custom-html-style h2 > input + label:hover{
    color:var(--zz-category-hover);
}

/*==================================================
=                    SUBCATEGORY                   =
==================================================*/

.custom-html-style h3 > input + label{

    padding:12px 15px;

    background:var(--zz-box-bg);

    border:1px solid var(--zz-border);

    border-radius:20px;

    color:var(--zz-fg);

    font-weight:600;
}

.custom-html-style h3 > input + label:hover,
.custom-html-style h3 > input:checked + label{

    border-color:var(--zz-fg);

}

/*==================================================
=                OPEN / CLOSE                      =
==================================================*/

.custom-html-style
:is(h2,h3):has(> input:not(:checked))
+ :is(blockquote,table){
    display:none;
}

.custom-html-style
div
> :first-child:is(h2,h3):has(> input:not(:checked))
~ *{
    display:none;
}

.custom-html-style
div:has(> :first-child > input:checked):has(
> h2:first-child,
> h3:first-child){

    padding:0 12px 12px;
}

.custom-html-style
div
> :first-child:is(h2,h3):has(> input:checked){

    margin-left:-12px;
    margin-right:-12px;

}

.custom-html-style h3 > input + label::before{

    content:"▶";

    display:inline-block;

    margin-right:8px;

    transition:.2s;

}

.custom-html-style h3 > input:checked + label::before{

    transform:rotate(90deg);

}

